
@import "tailwindcss";



:root {
  --ruddy-blue: #79addcff;
  --peach: #ffc09fff;
  --flax: #ffee93ff;
  --lemon-chiffon: #fcf5c7ff;
  --celadon: #adf7b6ff;

  --background: var(--lemon-chiffon);
  --foreground: #22223b;
  --accent: var(--ruddy-blue);
  --muted: var(--peach);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
